.container{
     font-family: Helvetica, sans-serif;
}

.jumbotron {
	position: relative;
	background: none;
}

.jumbotron:after {
     content:"";
     background: url("../images/nympheas.jpeg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

/*Subheadings*/
.jumbotronProjects {
    position: relative;
    background: none;
    padding: 2px;
}

.jumbotronProjects:after {
     content:"";
     background: url("../images/nympheas2.jpg");
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;   
}

.jumbotronProjects p {
    color: #6e6e6e;
    font-size: 2vw;
}


.row {
    padding-top: 2vh;
    position:relative; 
    left:1.2vw
}


/*Styling the projects div*/
.projects{
    margin-top: 8vh;
}

.projects a {
     text-align: center;
}

.projects .details {
    width:100vw;
    margin-top: 10px;
}

/*Project images*/
.project-img {
     width: 30vw;
     margin: 0px 40px 10px 0;
     float: left;
     cursor: pointer;
}


/*Navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2b2444;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ebebe0;
}

.active {
    background-color: #1f2328;
    color:white;
    font-weight: bold;
}

